<!-- View items/index.html.erb -->

<style>
    .custom-border {
        border: 1px solid #d2cfcf; /* Definindo a largura da borda */
        border-radius: 8px; /* Arredondando os cantos da borda */
        padding: 20px; /* Adicionando espaço interno */
        margin-bottom: 20px; /* Adicionando margem na parte inferior */
        height: 460px; /* Definindo a altura da div */
        overflow-y: auto; /* Adicionando scroll vertical caso o conteúdo ultrapasse a altura */
    }
    .custom-border-right {
        border: 1px solid #d2cfcf; /* Definindo a largura da borda */
        border-radius: 8px; /* Arredondando os cantos da borda */
        padding: 20px; /* Adicionando espaço interno */
        margin-bottom: 20px; /* Adicionando margem na parte inferior */
        height: 460px; /* Definindo a altura da div */
        overflow-y: auto; /* Adicionando scroll vertical caso o conteúdo ultrapasse a altura */
        position: relative; /* Permite o posicionamento relativo */
        left: 20px; /* Definindo o deslocamento para a esquerda */
    }
    .custom-button {
        width: 100%; /* Definindo a largura do botão como 100% */
    }
    .custom-message {
        background-color: #f0f0f0; /* Definindo a cor de fundo */
        border: 1px solid #ccc; /* Adicionando borda */
        padding: 10px; /* Adicionando espaço interno */
        margin-top: 20px; /* Adicionando margem superior */
        border-radius: 5px; /* Arredondando os cantos */
    }
    .reiniciar-link {
        margin-top: 20px;
        display: none;
    }
</style>

<div class="container mt-5">
  <h2 class="text-Left mb-3">Conversor de XMLS</h2>

  <div class="row">

    <!-- Div para o formulário e mensagens -->
    <div class="col-md-6 custom-border">
      <form id="processar-form" action="/items/processar" method="post">
        <button id="processar-button" type="submit" class="btn btn-primary btn-block custom-button" disabled>Processar XMLs</button>
      </form>
      <% if @xml_count && @xml_count > 0 %>
        <div class="alert alert-info mt-3" role="alert">
          Existem <%= @xml_count %> XMLs disponíveis.
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-success mt-3" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger mt-3" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <div class="custom-message mt-3">
        <p>O diretório padrão é: /home/angelosouza/Projetos /Leitor-Xml/xmls</p>
      </div>

      <!-- Botão para reiniciar a aplicação -->
      <button onclick="reiniciarAplicacao()" class="btn btn-primary mt-3">Reiniciar</button>

    </div>

    <!-- Div para exibir os dados atuais -->
    <div class="col-md-6 custom-border-right">
      <h4>Nomes dos Arquivos XML</h4>
      <% if @xml_files.any? %>
        <ul>
          <% @xml_files.each do |xml_file| %>
            <li><%= xml_file %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<!-- Adicionando a funcionalidade JavaScript -->
<script>
    // Função para reiniciar a aplicação
    function reiniciarAplicacao() {
        // Habilita o botão "Processar XMLs"
        document.getElementById("processar-button").disabled = false;
        // Recarrega a página para reiniciar a aplicação
        window.location.reload();
    }
</script>
